$main-color: #ffffff;
$main-color-hover: #f3f5f7;
$separator-color: #c3c5c7;
$text-color: #333537;

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 40px;
  height: 43px;
  background-color: $main-color;
  border-bottom: solid 1px $separator-color;
}

.title {
  padding: 4px 8px;
  font-size: 16px;
  font-weight: bold;
  color: $text-color;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__separator {
    width: 1px;
    height: 16px;
    background-color: $separator-color;
  }

  &__spacer {
    width: 5px;
  }

  &__item {
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    color: $text-color;
    text-decoration: none;

    &:hover {
      background-color: $main-color-hover;
      cursor: pointer;
    }
  }
}
