$main-color: #F1D145;
$main-color-hover: #E1C135;
$separator-color: #D1B125;
$text-color: #383838;
$text-color-hover: white;

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 40px;
  height: 43px;
  background-color: $main-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $separator-color;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}


.title {
  box-sizing: border-box;
  padding: 4px 8px;
  margin: 0px 1px;
  font-size: 16px;
  font-weight: bold;
  color: $text-color;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__separator {
    display: block;
    box-sizing: border-box;
    width: 1px;
    height: 16px;
    background-color: $separator-color;
  }

  &__spacer {
    display: block;
    box-sizing: border-box;
    width: 5px;
  }

  &__item {
    display: block;
    box-sizing: border-box;
    padding: 4px 8px;
    margin: 0px 1px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    color: $text-color;
    text-decoration: none;

    &:hover {
      background-color: $main-color-hover;
      color: $text-color-hover;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
